.env
__pycache__/
*.pyc
*.pyo
# data/editais/*.pdf
.venv/
venv/
.streamlit/
*.egg-info/
dist/
build/
.DS_Store

how_env.txt
test_langextract.py
storage_backup/
storage_backup_pre_h2/
dev_qas
storage_backup_pre_docling/


smoke_docling_test.ipynb
out_test_docling/
pdf_hierarchy_comparison.ipynb
docling_test2.ipynb
get_summary_test.ipynb
haiku_extract.ipynb
evals/