.env
__pycache__/
*.pyc
*.pyo
storage/*.db
# data/editais/*.pdf
.venv/
venv/
.streamlit/
*.egg-info/
dist/
build/
.DS_Store
storage/chromadb/
storage/*.db

how_env.txt
test_langextract.py
storage_backup/
storage_backup_pre_h2/